<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Online Auction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fa fa-home fa-lg"></i> Online Auction <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#footer">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">


                </li>
            </ul>
            {{#if login}}
                <li class="nav-item dropdown ml-3">
                    <div class="dropdown">
                        <button class="btn btn-secondary bg-primary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/accounts/profile">
                                <i class="fa fa-info m-auto" aria-hidden="true"></i>
                                Profile
                            </a>

                            {{#if (equal this.user.role 3) }}
                                <a class="dropdown-item m-auto" href="/admin/products/add">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Manage Products
                                </a>
                                <a class="dropdown-item m-auto" href="/admin/products/add">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Add new Products
                                </a>
                            {{/if}}
                            <a class="dropdown-item m-auto" href="/accounts/logout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sign out
                            </a>
                        </div>
                    </div>
                </li>
            {{else}}
                <li class="nav-item">
                    <button class="btn btn-outline-primary my-2 my-sm-0 signin-btn" type="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <a href="/accounts/login">Đăng nhập </a></button>
                    <button class="btn btn-outline-primary my-2 my-sm-0 ml-1 signup-btn" type="submit">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <a href="/accounts/register">Đăng ký</a></button>
                </li>
            {{/if}}
        </div>
    </nav>
</div>
<div class="w-100 row col-md-11 d-flex justify-content-center mt-5 mb-5">
    <div class="accordion col-md-2" id="accordionExample">
        {{#each vwCategories}}
            <div class="card">
                <div class="card-header" id="{{cname}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapse{{cid}}" aria-expanded="true" aria-controls="collapse{{cid}}">
                            {{cname}}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{cid}}" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                        {{#each types}}
                            <a class="dropdown-item" href="/products/byType/{{tid}}">{{tid}} - {{typename}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="container-fluid col-md-10 w-100">
        <form class="col-md-12 form-inline" action="/products/bySearch" method="post">
            <div class="dropdown mr-2">
                <select id="sort" name="sort" class="form-control form-select-md mr-2 ml-2" style="width: 15em">
                    <option selected disabled value="0">Sorting</option>
                    <option value="{{this.url}}&sort=1">Sorting by A-Z</option>
                    <option value="{{this.url}}&sort=2">Sorting by Z-A</option>
                    <option value="{{this.url}}&sort=3">Sorting by price ascending</option>
                    <option value="{{this.url}}&sort=4">Sorting by price descending</option>
                    <option value="{{this.url}}&sort=5">Sorting by nearest</option>
                    <option value="{{this.url}}&sort=6">Sorting by newest </option>
                </select>
                <select id="price" name="price" class="form-control form-select-md mr-2" style="width: 18.5em">
                    <option selected disabled value="0">Price</option>
                    <option value="1">Under {{formatMoney 1000000}}</option>
                    <option value="2">From {{formatMoney 1000000}} to {{formatMoney 5000000}}</option>
                    <option value="3">From {{formatMoney 5000000}} to {{formatMoney 10000000}}</option>
                    <option value="4">From {{formatMoney 10000000}} to {{formatMoney 20000000}}</option>
                    <option value="5">After {{formatMoney 20000000}}</option>
                </select>
            </div>
            <input class="form-control mr-sm-2 search-input" type="text" placeholder="Product Name"
                   aria-label="Search" id="search" name="search" style="width: 26em">
            <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Search</button>
        </form>
        <div class="col-md-12">
            {{{body}}}
        </div>
    </div>
</div>

<footer class="footer" id="footer">
    <div class="footer__addr">
        <h5 class="footer__logo"><strong>CÔNG TY CỔ PHẦN AUCTION ONLINE</strong></h5>
        <!--        <a href="/"><img src="/public/images/home/logo.png" alt="" width="200px" /></a>-->
        <p>
            <strong>Điện thoại:</strong>
            0968454380<br/><strong>Email: </strong><a
                href="mailto:onlineaction@gmail.com"
        >onlineaction@gmail.com</a><br/><strong>ĐKKD:</strong>
            Trường Đại Học KHTN<br/>
            <strong>Văn phòng:</strong>
            227 Đ. Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh
        </p>
    </div>
    <ul class="footer__nav">
        <li className="nav__item">
            <h2 class="nav__title">Hỗ trợ khách hàng</h2>
            <ul class="nav__ul">
                <li>
                    <p>Hotline miễn phí</p>
                </li>
                <li>
                    <p>CSKH: 1800 6609</p>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Đơn vị vận chuyển</h2>
            <ul class="nav__ul">
                <li>
                    <img class="img-fluid" src="/public/background/ahamove.png" alt="#" width="100px"/>
                </li>
                <li>
                    <img class="img-fluid" src="/public/background/viettel.png" width="100px"/>
                </li>
                <li>
                    <img class="img-fluid" src="/public/background/grab-express.png" width="100px"/>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Thành Viên</h2>
            <ul class="nav__ul">
                <li>
                    <p>́Nguyễn Tiến Hùng</p>
                </li>
                <li>
                    <p>Huỳnh Tuấn Kha</p>
                </li>
                <li>
                    <p>Nguyễn Quốc Thông</p>
                </li>
            </ul>
        </li>
        <li class="nav__item">
            <h2 class="nav__title">Email SV</h2>
            <ul class="nav__ul">
                <li>
                    <p>́19127029@student.hcmus.edu.vn</p>
                </li>
                <li>
                    <p>19127166@student.hcmus.edu.vn</p>
                </li>
                <li>
                    <p>19127565@student.hcmus.edu.vn</p>
                </li>
            </ul>
        </li>
    </ul>
    <div id="myBtnBackTop">
        <i class="fa fa-chevron-up"></i>
    </div>
</footer><!--/Footer-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

{{{_sections.footer}}}
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop()) {
                $('#myBtnBackTop').fadeIn();
            } else {
                $('#myBtnBackTop').fadeOut();
            }
        });
        $("#myBtnBackTop").click(function () {
            $('html,body').animate({
                scrollTop: 0
            }, 500);
        });
    });
</script>
<script src="/public/js/navbar.js">
</script>
</body>
</html>
