<div class="card mt-3 mb-3">
    <h4 class="card-header d-flex justify-content-between">
        Searching Products
    </h4>
    {{#if empty}}
        <div class="card-body">
           <h4>The current listing has no products.</h4>
        </div>
        <div class="card-footer">
            <h5>Searching</h5>
        </div>
    {{else}}
        <div class="card-body text-muted">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {{#each listPages}}
                        <li class="page-item">
                            <a class="page-link" href="{{url}}?page={{value}}">{{value}}</a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="card-body">
            <div class="row">
                {{#each products}}
                    <div class="col-sm-6 col-md-4 col-lg-4 mb-3">
                        <div class="card h-100">
                            <a {{#if login}}
                            href="/products/detail?productid={{productid}}"{{sellerid}}
                            {{else }}href="/accounts/login"
                            {{/if}}><img class="card-img-top car" style="height: 20em; width: 100%" src="/public/images/{{productid}}/title/main.jpg"
                                            alt="Card image cap"></a>
                            <div class="card-body h-25">
                                <a {{#if login}}
                                href="/products/detail?productid={{productid}}"{{sellerid}}
                                {{else }}href="/accounts/login"
                                {{/if}}> <h5 class="card-title">{{productname}}</h5></a>
                                    <p class="card-title">{{title}}</p>
                                    <p class="card-text">Price: <span class="text-danger">{{formatMoney price}}</span></p>
                                    <p class="card-text" style="color:black;">End: {{formatDateTime dateend}}</p>
                                    <p class="card-text" style="color:black;">Published: {{formatDateTime datepublished}}</p>
                            </div>
                            <div class="card-footer text-right pr-2">
                                <a {{#if login}}
                                href="/products/detail?productid={{productid}}"{{sellerid}}
                                {{else }}href="/accounts/login"
                                {{/if}} class="btn btn-outline-primary">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Auction</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="card-body text-muted">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {{#each listPages}}
                        <li class="page-item">
                            <a class="page-link" href="{{url}}?page={{value}}">{{value}}</a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="card-footer">
            <h5>Searching</h5>
        </div>
    {{/if}}
</div>
