{{#section 'header'}}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
          crossorigin="anonymous">
{{/section}}


<form method="post" enctype="multipart/form-data">
    <div class="card">
        <h4 class="card-header">
            Edit Products:
        </h4>
        <div class="card-body">
            <div class="mb-3">
                <label for="productid" class="form-label">Product ID:</label>
                <input type="text" class="form-control" id="productid" name="productid"
                       value="{{this.product.productid}}" readonly>
            </div>
            <div class="mb-3">
                <label for="productname" class="form-label">Product Name:</label>
                <input type="text" class="form-control" id="productname" name="productname"
                       value="{{this.product.productname}}">
            </div>
            <div class="mb-3">
                <label for="sellerid" class="form-label">Seller ID:</label>
                <input type="text" class="form-control" id="sellerid" name="sellerid" value="{{this.product.sellerid}}">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{this.product.title}}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" style="height: 300px" id="description" name="description"
                          placeholder="Product Description" value="{{{this.product.description}}}">
                </textarea>
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Category:</label>
                <input type="text" class="form-control" id="type" name="type" value="{{this.product.type}}">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01"
                       value="{{this.product.price}}">
            </div>
            <div class="mb-3">
                <label for="step" class="form-label">Price Step:</label>
                <input type="number" class="form-control" id="step" name="step" step="0.01"
                       value="{{this.product.step}}">
            </div>
            <div class="mb-3">
                <label for="purchaseprice" class="form-label">Purchase Price:</label>
                <input type="number" class="form-control" id="purchaseprice" name="purchaseprice"
                       value="{{this.product.purchaseprice}}">
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating:</label>
                <input type="number" step="0.1" class="form-control" id="rating" name="rating"
                       value="{{this.product.rating}}">
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">Images:</label>
                <input type="file" class="file form-control" accept="image/*" id="img" name="img"
                       data-browse-on-zone-click="true" data-show-upload="false" initialPreviewAsData="/public/images/80/title/main.jpg"/>
            </div>
            <div class="mb-3">
                <label for="anotherimg" class="form-label">Related another images:</label>
                <input type="file" class="file form-control" id="anotherimg" name="anotherimg" accept="image/*"
                       data-show-upload="true" data-browse-on-zone-click="true" data-show-caption="true"
                       data-msg-placeholder="Select {files} for upload..." value="" multiple/>
            </div>
            <div class="mb-3">
                <label for="datepublished" class="form-label">Date Published:</label>
                <input type="text" class="form-control" id="" name="" value="{{this.product.datepublished}}" readonly>
            </div>
            <div class="mb-3">
                <label for="dateend" class="form-label">Date End:</label>
                <input type="text" class="form-control" id="dateend" name="dateend" value="{{this.product.dateend}}">
            </div>
            <a class="btn btn-outline-success" href="/admin/products" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to Product List</a>
            <button type="submit" class="btn btn-danger" formaction="/admin/products/del">Delete
                <i class="fa fa-trash-o"></i>
            </button>
            <button type="submit" class="btn btn-primary" formaction="/admin/products/patch">Save Changes
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</form>

{{#section 'footer'}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
    <script src="/public/js/product.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/piexif.min.js"
            type="text/javascript"></script>
    <script src="https://cdn.tiny.cloud/1/wnxkc2qachqmm97q8rfdeulylg6ia45er0o14r161niw5ty8/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({selector: '#description'});</script>
    <script src="/public/js/login.js"></script>

{{/section}}