<div class="row col-md-12 col-xl-12 col-sm-12 pt-5 pb-5 h-100">
    <div class="row d-block">
        <h2 class="product-header text-center">
            Các sản phẩm gần kết thúc
        </h2>

        <div class="row col-sm-12 justify-content-center">
            <div class="row d-inline-flex">
                {{#each Recent}}
                    <div class="col-md-2 mb-3 mt-3 w-100">
                        <div class="product_card card" style="background-color: unset;">
                            <a style="text-decoration: none" href="/products/detail?productid={{productid}}">
                            <img src="/public/images/{{productid}}/title/main.jpg" alt=""
                                 class="img-fluid card-img rounded-0">
                            </a>
                            <div class="card-body">
                                <a style="text-decoration: none" href="/products/detail?productid={{productid}}"
                                target="_blank">
                                <h4 class="card-text mb-3" style="color:black;">{{productname}}</h4>
                                </a>
                                <p class="card-text text-danger">{{formatMoney price}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row d-block justify-content-center">
        <h2 class="product-header text-center">
            Các sản phẩm có nhiều lượt ra giá nhất
        </h2>

        <div class="row d-inline-flex">
            {{#each Bids}}

                <div class="col-md-2 mb-3 mt-3 w-100">
                    <div class="product_card card" style="background-color: unset;">
                        <a style="text-decoration: none" href="/products/detail?productid={{productid}}">
                        <img src="/public/images/{{productid}}/title/main.jpg" alt=""
                             class="img-fluid card-img rounded-0">
                        </a>
                        <div class="card-body">
                            <a style="text-decoration: none" href="/products/detail?productid={{productid}}"
                            target="_blank">
                            <h4 class="card-text mb-3" style="color:black;">{{productname}}</h4>
                            </a>
                            <p class="card-text text-danger">{{ price}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="row d-block justify-content-center">
        <h2 class="product-header text-center">
            Các sản phẩm có giá cao nhất
        </h2>
        <div class="row d-inline-flex">
            {{#each Valuest}}

                <div class="col-md-2 ">
                    <div class="product_card card" style="background-color: unset;">
                        <a style="text-decoration: none" href="/products/detail?productid={{productid}}">
                        <img src="/public/images/{{productid}}/title/main.jpg" alt=""
                             class="img-fluid card-img rounded-0">
                        </a>
                        <div class="card-body">
                            <a style="text-decoration: none" href="/products/detail?productid={{productid}}"
                            target="_blank">
                            <h4 class="card-text mb-3" style="color:black;">{{productname}}</h4>
                            </a>
                            <p class="card-text text-danger">{{formatMoney price}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>