<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Current Bid List
        <div>
            <a class="btn btn-outline-primary" href="/admin/categories/add" role="button">Add Categories
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">&nbsp</th>
            <th scope="col">Product ID</th>
            <th scope="col">Bidde ID</th>
            <th scope="col">Date Published</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
        </tr>
        </thead>
        <tbody>
        {{#each cur}}
            <tr>
                <th scope="row">{{increase @index}}</th>
                <th scope="row">{{productid}}</th>
                <th scope="row">{{idbidder}}</th>
                <th scope="row">{{formatDateTime record}}</th>
                <th scope="row">{{formatDateTime price}}</th>
                <td class="text-right">
                    <a class="btn btn-sm btn-success" href="/products/detail?productid={{productid}}" role="button">
                        View detail<i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>