<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Current Bid List
        <div>
            <a class="btn btn-outline-primary" href="/admin/products/add" role="button">Add Products
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Date Published</th>
            <th scope="col">Date End</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
        </tr>
        </thead>
        <tbody>
        {{#each curbids}}
            <tr>
                <th scope="row">{{productname}}</th>
                <th scope="row">{{formatDateTime datepublished}}</th>
                <th scope="row">{{formatDateTime dateend}}</th>
                <th scope="row">{{formatMoney price}}</th>
                <td class="text-right">
                    <a class="btn btn-sm btn-success" href="/cur-bid/{{productid}}" role="button">
                    View bidder<i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>