<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Favorites List
    </h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date Published</th>
            <th scope="col">End Date</th>
            <th scope="col">&nbsp</th>
        </tr>
        </thead>
        <tbody>
        {{#each fav}}
            <tr>
                <th scope="row">{{productname}}</th>
                <th scope="row">{{price}}</th>
                <th scope="row">{{formatDateTime datepublished}}</th>
                <th scope="row">{{formatDateTime dateend}}</th>
                <td class="text-right">
                    <a class="btn btn-sm btn-success" href="/products/detail?productid={{pid}}" role="button">
                        View detail<i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="/unfav?fid={{favid}}" role="button">
                        Unfavorite<i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>