<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        History List
    </h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">&nbsp</th>
            <th scope="col">Product ID</th>
            <th scope="col">Bidde ID</th>
            <th scope="col">Date Published</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp</th>
        </tr>
        </thead>
        <tbody>
        {{#each histories}}
            <tr>
                <th scope="row">{{increase @index}}</th>
                <th scope="row">{{productid}}</th>
                <th scope="row">{{idbidder}}</th>
                <th scope="row">{{formatDateTime record}}</th>
                <th scope="row">{{formatDateTime price}}</th>
                <td class="text-right">
                    <a class="btn btn-sm btn-success" href="/products/detail?productid={{productid}}" role="button">
                        View detail<i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>