<form method="post">
    <div class="card">
        <h4 class="card-header">
            Edit Type:
        </h4>
        <div class="card-body">
            <div class="mb-3">
                <label for="tid" class="form-label">Type ID:</label>
                <input type="text" class="form-control" id="tid" name="tid" value="{{this.type.tid}}" readonly>
            </div>
            <div class="mb-3">
                <label for="typename" class="form-label">Type Name:</label>
                <input type="text" class="form-control" id="typename" name="typename" value="{{this.type.typename}}" autofocus>
            </div>
            <div class="mb-3">
                <select class="form-control" id="cid" name="cid" value="{{this.type.cid}}">
                    {{#each this.categories}}
                        <option value="{{cid}}"> {{cname}}</option>
                    {{/each}}
                </select>
            </div>
            <a class="btn btn-outline-success" href="/admin/types" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to Types List</a>
            <button type="submit" class="btn btn-danger" formaction="/admin/types/del">Delete
                <i class="fa fa-trash-o"></i>
            </button>
            <button type="submit" class="btn btn-primary" formaction="/admin/types/patch">Save Changes
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</form>